<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="index, follow">

  <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>

  <!-- begin application  -->
  <section id="application"><%= application %></section>
  <!-- end application -->

  <script src="js/vendors.js"></script>
  <script src="js/main.js"></script>
</body>
</html>